<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/javascripts/lib/html5shiv.js"></script>
    <script src="/javascripts/lib/respond.min.js"></script>
    <![endif]-->
    <link href="stylesheets/chat.css" rel="stylesheet" type="text/css">

    <script data-main="/javascripts/bootstrap.js" src="/javascripts/bower_components/requirejs/require.js" type="text/javascript"></script>
<script>
  var appData = null;
</script>
</head><!--/head-->

<body>
	<div ui-view="Header"></div>
<div ui-view="Middle"></div>
	<div ui-view="Footer"></div>


    <script src="/javascripts/lib/jquery.js"></script>
	<script src="/javascripts/lib/bootstrap.min.js"></script>
	<script src="/javascripts/lib/jquery.scrollUp.min.js"></script>
	<script src="/javascripts/lib/price-range.js"></script>
    <script src="/javascripts/lib/jquery.prettyPhoto.js"></script>
    <script src="/javascripts/lib/main.js"></script>
    <script src="/javascripts/lib/script.js"></script>
    <!--<script src="/javascripts/lib/socket.io.js"></script>-->
</body>
</html>